:root {
    --black: #252525;
    --white: #E6E6E6;
    --dark-gray: #636363;
    /* --cinza-claro: #f7f4f4; */
  
    --fonte-link: #0084ff;
    --fonte-cinza: #666;

    --note-pink: #FFAB91;
    --note-blue: #80DEEA;
    --note-yellow: #E6EE9B;
  
    --font-tittle: sans-serif;
    --font-message: serif;
  }
  