@import url(_variable.css);
@import url(reset.css);

body {
    font-family: var(--familia-corpo);
    background-color: var(--black);
    /* color: var(--white); */
    /* position: relative;  */
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.note {
    width: 100%;
    background-color: var(--note-blue);
    border-radius: 5px;
}

.button-add {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    border-radius: 100%;
}