@font-face {
  font-family: logo;
  src: url(../../fonts/RussoOne-Regular.ttf);
}

@font-face {
  font-family: button;
  src: url(../../fonts/OpenSans-Regular.ttf);
}

.header {
  display: flex;
  justify-content: space-between;
}

button {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.mainButton {
  color: var(--white);
  background-color: var(--black);
  font-family: logo, sans-serif;
  font-size: 1.3rem;
}

.seachButton {
  color: var(--white);
  background-color: var(--dark-gray);
  padding: 0.2rem 0.5rem;
  border-radius: 9px;
  outline: none !important;
  font-family: button, sans-serif;
  font-size: 1.03rem;
}

.editButton {
  color: var(--white);
  background-color: var(--dark-gray);
  padding: 0.2rem 0.5rem;
  border-radius: 9px;
  outline: none !important;
  font-family: button, sans-serif;
  font-size: 1.03rem;
}
