.Create-input {
  border: 1px solid var(--dark-gray);
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: var(--white);
}

.Create-title {
  width: 100%;
  height: 4vh;
  background-color: var(--black);
  font-size: 1.2rem;
  border-radius: 5px;
}

.Create-title::placeholder {
  padding-left: 0.5rem;
}

.Create-text {
  margin-top: 0.6rem;
  width: 100%;
  background-color: var(--black);
  height: 15vh;
  font-size: 1.1rem;
  border-radius: 5px;
}

.Create-text::placeholder {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
